.gradle/
/build/
.terraform/
.idea/
.vagrant/
gradle-app.setting

.gradletasknamecache

*.class
*.log
*.html
*.bin
*.css
*.js
*.idx
*.jar
*.out
*.terraform.lock.hcl
*.terraform.tfstate.backup
*.tfstate
*.xml
